h1{
  color: blueviolet;
  padding: 60px;
  text-decoration: none;
  font-size: 60px;
  border-bottom: 5px solid blue;

}
p{
  padding: 20px;
  font-size: 30px;
  display: block;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  padding: 50px;
}
body{
  font-family: arial;
}
